section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  margin: 1.5rem 0;
}

.commentBox {
  /* width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 2rem;
  padding: 0 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
