.newComment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem 0;
  background-color: #e0e7ff;
  color: #4338ca;
  width: 600px;
  border-radius: 6px;
  font-weight: 500;
}

.formControl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.formControl input,
.formControl textarea {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  font-family: 'Montserrat', sans-serif;
}

.formControl textarea {
  resize: none;
}

.addBtn {
  outline: none;
  border: none;
  padding: 7px 25px;
  background-color: #4338ca;
  color: #e0e7ff;
  border-radius: 4px;
  cursor: pointer;
}
